#tui-pagination-container {
  padding: 40px;
  margin: 14px 0 12px;
  margin-bottom: 60px;
  line-height: normal;
  text-align: center;
  font-size: 0;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 0;
    margin-bottom: 40px;
  }
}

#tui-pagination-container .tui-page-btn {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  padding: 10px 0 6px;
  margin-left: 10px;
  color: var(--footer-text-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  border: 2px solid var(--footer-background-color);
  border-width: 1px 0;
}

@media screen and (max-width: 767px) {
  #tui-pagination-container .tui-page-btn {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    padding: 7px 0 3px;
    margin-left: 5px;
    color: var(--footer-text-color);
    font-size: 8px;
    font-weight: normal;
    line-height: 0.5;
    vertical-align: middle;
    border: 1px solid var(--footer-background-color);
    border-width: 0.5px 0;
  }
}

#tui-pagination-container .tui-page-btn:hover {
  background-color: #f4f4f4;
}

#tui-pagination-container .tui-is-selected,
#tui-pagination-container strong {
  color: #fff;
  background: #ff6b08;
  border-color: #ff6b08;
  box-shadow: 0px 0px 20px var(--main-accent-color);
  cursor: default;
}

#tui-pagination-container .tui-is-selected:hover {
  background-color: #ff6b08;
}
